:root{
    --primary: rgb(255, 78, 78);
    --text: #888;
}


@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    display: grid;
}

.bar{
    display: grid;
    grid-template-columns: max-content min-content;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 8px;
}

.bar-title{
    font-weight: bold;
    font-size: 20px;
    color: var(--primary);
    letter-spacing: 2px;
    user-select: none;
    position: relative;
    left: 30px;
}

.bar-title::before{
    position: absolute;
    content: '';
    background-image: url('./img/logo.png');
    background-size: cover;
    width: 36px;
    height: 30px;
    left: -38px;
    top: -8px;
}

.bar-item{
    cursor: pointer;
    letter-spacing: 1px;
}

.main{
    padding: 0 16px;
    height: calc(100vh - 112px);
    overflow-y: auto;
}

.discover div{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 6px;
}

.discover p{
    color: var(--text);
    margin-bottom: 24px;
}

.search-bar{
    display: grid;
    grid-template-columns: calc(100% - 40px) 36px;
    background-color: #eee;
    padding: 4px;
    gap: 4px;
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 24px;
}
.search-bar input{
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #eee;
    padding-left: 16px;
}

.search-bar input::placeholder{
    color: #666;
    letter-spacing: 1px;
}

.search-bar div{
    display: grid;
    place-items: center;
    background-color: var(--primary);
    height: 36px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

.cities{
    display: flex;
    gap: 24px;
    white-space: nowrap;
    overflow-x: auto;
    margin-bottom: 24px;
}

.cities::-webkit-scrollbar{
    display: none;
}

.cities .city{
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 14px;
    height: 24px;
    color: var(--text);
}

.cities .city.active{
    position: relative;
    color: var(--primary);
}

.cities .city.active::after{
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    background-color: var(--primary);
    left: 50%;
    transform: translateX(-50%);
    top: 16px;
    border-radius: 50%;
}

.card-container{
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    gap: 16px;
    margin-bottom: 24px;
}

.card-container::-webkit-scrollbar{
    display: none;
}

.card{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.3), transparent), url('http://www.throughtingslens.com/uploads/4/5/1/1/45119287/dsc-4712_orig.jpg');
    background-position: center;
    background-size: cover;
    width: 160px;
    height: 220px;
    border-radius: 24px;
    position: relative;
}

.card .content{
    display: grid;
    padding: 8px 16px;
    gap: 4px;
    grid-template-columns: 92px 32px;
    position: absolute;
    bottom: 0;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

.card .content .name{
    font-weight: 600;
    margin-bottom: 4px;
}

.card .content .place, .name{
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.card .content .like{
    background-color: #fff;
    border-radius: 50%;
    color: var(--primary);
    display: grid;
    place-items: center;
    height: 32px;
}

.categories{
    margin-bottom: 24px;
}

.categories h3{
    margin-bottom: 16px;
}

.categories .scroll{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100px;
    gap: 16px;
    overflow-x: auto;
    position: relative;
}

.categories .scroll::-webkit-scrollbar{
    display: none;
}

.scroll img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.scroll .text{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text);
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    gap: 16px;
    padding: 8px 16px;
    background-color:#fff;
}

footer .foot-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 32px;
    white-space: nowrap;
    color: var(--text);
}

footer .active{
    letter-spacing: 1px;
    padding: 0 8px;
    color: #fff;
    border-radius: 8px;
    background-color: var(--primary);
}

@media screen and (max-width:600px) {
    footer .foot-item:not(.active) label{
        display: none;
    }
}

@media screen and (min-width:600px) and (max-width:992px) {
 
}
